body{
    position: relative;
}

img{
    height: 80vh;
    width: 50vw;

}
#image{
    border: 5px  black;
    /* box-shadow: 5px black; */
}
.btn img{
    width: 50px;
    z-index: 0;
    height: 50px;
    margin: 0;
    padding: 0;
}

.btn{
    padding: 0;
    z-index: 1;
    border-radius: 60%;
}
.btn:hover{
    color: rgb(82, 80, 80);
}
.one{
    display: flex;
  justify-content: center;
  align-items: center;
}